<template>
  <div>
    <div class="wrapper">
      <div id="player-container" ref="player" class="player" />
      <div>
        <img v-if="output" :src="output" />
      </div>
    </div>
    <button @click="screenshot">Screenshot</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import h2c from 'html2canvas'

export default Vue.extend({
  data() {
    const player: any = null

    return {
      player,
      output: '',
    }
  },
  mounted() {
    if (this.$kaltura) {
      const config = {
        targetId: 'player-container',
        provider: {
          partnerId: '3261243',
          uiConfId: '47381713',
        },
      }

      try {
        this.player = this.$kaltura.setup(config)
        this.player.loadMedia({ entryId: '1_4sl7yej6' })
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    }
  },
  methods: {
    async screenshot() {
      const el = document.getElementById('player-container')
      if (el) {
        const canvas = await h2c(el, {
          useCORS: true,
          logging: true,
        })
        this.output = canvas.toDataURL('image/png')
      }
    },
  },
})
</script>

<style scoped>
.player {
  width: 600px;
  height: 400px;
}
.wrapper div {
  display: inline-block;
  width: 600px;
}
</style>
