<template>
  <div class="video-player">
    <div :id="`player-container-${entryId}`" class="video-player__player"></div>
    <div class="video-player__subs">
      <div class="video-player__subs-text">
        <h3>Description</h3>
        <div>{{ subsText }}</div>
      </div>
      <div class="video-player__subs-edit">
        <h3>Subtitles</h3>
        <div v-for="(sub, idx) in subs" :key="idx">
          <span
            class="video-player__subs-edit__time"
            @click="seek(sub.data.start)"
          >
            {{ sub.data.start / 1000 }}
          </span>
          <span>{{ sub.data.text }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { parseSync } from 'subtitle'

export default Vue.extend({
  name: 'VideoPlayer',
  props: {
    entryId: {
      type: String,
      default: '',
    },
    progress: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      player: <any>{},
      subs: <any>[],
      config: {
        targetId: `player-container-${this.entryId}`,
        plugins: {},
        provider: {
          partnerId: '3261243',
          uiConfId: '47381713',
        },
        player: {
          playback: {
            preload: 'auto',
            autoplay: false,
            muted: false,
            pictureInPicture: false,
            subtitles: true,
            options: {
              html5: {
                hls: {},
                dash: {},
              },
            },
          },
        },
      },
    }
  },
  async mounted() {
    const subsData =
      "1\n00:00:18,050 --> 00:00:25,660\nKernels and\n\n2\n00:00:39,530 --> 00:00:41,890\nGod.\n\n3\n00:01:18,700 --> 00:01:21,120\nSb.\n\n4\n00:01:21,520 --> 00:01:24,270\nDon't tell me.\n\n5\n00:01:26,620 --> 00:01:28,800\nHello.\n\n6\n00:01:30,490 --> 00:01:32,790\nThere.\n\n7\n00:02:05,980 --> 00:02:08,010\nI\n\n8\n00:02:22,270 --> 00:02:23,915\ndon't\n\n9\n00:02:23,915 --> 00:02:27,920\njust go,\n\n10\n00:02:27,920 --> 00:02:29,280\nOh,\n\n11\n00:02:37,810 --> 00:02:40,140\nGod.\n\n12\n00:03:03,460 --> 00:03:10,500\nThere it goes.\n"

    parseSync(subsData).forEach((sub) => this.subs.push(sub))

    console.log(JSON.stringify(this.subs))

    if (this.$kaltura) {
      try {
        this.player = await this.$kaltura.setup(this.config)
        await this.player.loadMedia({ entryId: this.entryId })
        this.player.addEventListener('loadedmetadata', () => {
          if (this.progress && this.progress < 100) {
            this.player.currentTime =
              (this.progress * this.player.duration) / 100
          }
          this.player.addEventListener('play', () => this.$emit('play'))
          this.player.addEventListener('ended', () => this.$emit('ended'))
          this.player.addEventListener('timeupdate', () =>
            this.$emit(
              'progress',
              (this.player.currentTime * 100) / this.player.duration
            )
          )
        })
      } catch (e) {
        console.error(e.message)
      }
    }
  },
  computed: {
    subsText() {
      let text = ''
      let prevSub: any = null
      this.subs.forEach((sub: any) => {
        if (prevSub && sub.data.start - prevSub.data.end > 20000) {
          text += '\n'
        }
        text += sub.data.text + ' '
        prevSub = sub
      })
      return text.trim()
    },
  },
  methods: {
    edit(id: number) {
      console.log(JSON.stringify(this.subs[id]))
    },
    seek(time: number) {
      this.player.currentTime = time / 1000
    },
  },
})
</script>

<style lang="scss">
.video-player {
  display: flex;
  align-content: space-between;

  &__player {
    height: 480px;
    width: 640px;
  }

  &__subs {
    width: 800px;
    height: 480px;
    overflow-y: auto;
    display: flex;
    text-align: left;

    &-text {
      width: 400px;
      padding: 0 20px;
      white-space: pre-line;
    }

    &-edit {
      width: 400px;
      padding: 0 20px;

      &__time {
        display: inline-block;
        width: 60px;
        color: blue;
        cursor: pointer;
      }
    }
  }
}
</style>
